[user]
    email = dclundberg@gmail.com
    name = Diogo Lundberg
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = simple
[alias]
    amend = commit -a --amend --reuse-message=HEAD
